div {
  border: 1px solid #555;
  padding: 10px; 
  border-radius: 10px;
}

.media-type {
  width: fit-content;
  padding: 5px; 
  transition: all 0.3s ease; 

  &--active {
    color: blue;
    font-weight: bold;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.1);
    color: blue;
  }
}

button {
  margin-top: 10px; 
  font-size: 16px;
  transition: all 0.3s ease; 

  &:hover {
    background-color: #005cbf;
    color: white;
  }
}
